.container {
    width: 70%;
    margin: 0 auto;
    padding: 2.5rem;
    max-width: 1420px;
}

.container.sm {
    max-width: 720px;
}

@media (max-width:700px) {
    .container {
        width: 100%;
    }
}