.container__header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__header ul {
    gap: 3.75rem;
    display: flex;
}

.container__header ul li a {
    color: var(--text-color-1);
}


@media (max-width: 700px) {
    .container__header {
        gap: 1.5rem;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.75rem;
    }

}