.container__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact {
    flex: 1;
}

.contact>h2 {
    margin-bottom: 20px;
}

.contact>div {
    display: flex;
    gap: 0.9375rem;
}

@media (max-width: 700px) {
    .container__footer {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .contact>div {
        justify-content: center;
        margin-bottom: 2.2731rem;
    }


    .container__footer p {
        text-align: center;

    }

}